<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!--  Listener -->
<!--   <listener> -->
<!--   	<description>Init application listener</description> -->
<!--   	<display-name>InitApplication</display-name> -->
<!--   	<listener-class>com.bbro.bbcmd.server.listener.InitApplication</listener-class> -->
<!--   </listener> -->

  <!-- Servlets -->
<!--   <servlet> -->
<!--     <servlet-name>CommandServlet</servlet-name> -->
<!--     <servlet-class>com.bbro.bbcmd.server.CommandServiceImpl</servlet-class> -->
<!--   </servlet> -->
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>BBCmd.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>TestServiceServlet</servlet-name>
    <servlet-class>com.keraton.bbcmd.server.TestServiceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TestServiceServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MathJServiceServlet</servlet-name>
    <servlet-class>com.keraton.bbcmd.server.MathJServiceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MathJServiceServlet</servlet-name>
    <url-pattern>/mathj</url-pattern>
  </servlet-mapping>

</web-app>